.cart {
    position: relative;
    margin-bottom: 100px;
    
    .review {
        text-decoration: underline;
        padding-left: 2em;

    }
    .cart-products {
        border-top: 1px solid black;
        padding: 2%;
        .no-items {
            padding-top: 5rem;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: 1.8em;
            line-height: 1.4em;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
        }
    }

   @media(min-width: 700px) {
        
       .review {
           font-size: 1.4em;
       }
   }
   @media(max-width: 500px) {
       margin-bottom: 150px;
   }
}