.product-in-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    margin: .8rem 0;
    background-color: white;
    width: 100%;
    .product-in-cart-info {
        width: 60%;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .product-in-cart-image {
            width: 25%;
            
        }
        .product-in-cart-name {
            margin: 0 1em;
            font-size: 1em;
        }
    }
    .product-in-cart-buttons {
        margin: 0 2em;
        button {
            border: none;
            border-radius: 6px;
            height: 1.4rem;
            font-size: 1.1em;
            margin: .5em 1em;
        }
        
        .decrease-item-in-cart {
            background-color: red;
            color: white;
        }
        .remove-from-cart {
            background-color: black;
            color: white;
        }
        .increase-item-in-cart {
            background-color: rgba(18, 183, 3, 1);
            color: white;
        }

        .hide {
            display: none;
        }
       
    }
    @media(min-width: 700px) {
        .product-in-cart-info {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.3em;
            .product-in-cart-image {
                width: 15%;   
            }

        }
        // /.product-in-cart-info
        .product-in-cart-buttons {
            margin: 0 2em;
            button {
                border: none;
                border-radius: 6px;
                height: 1.6rem;
                font-size: 1.3em;
                margin: .5em 1em;
            }
        }
    }
    
    @media(min-width: 1400px) {
        width: 60%;
    }
}//productincart