.add-category-container {
    form {
        input {
            height: 2em;
            border-radius: 6px;
        }

        .add-category-button {
            margin: 1em 0;
            height: 30px;
            border-radius: 6px;
            font-size: 1.1em;
        }
    }

}