.add-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;

    .add-item-toggle {
        margin: 1em 0;
        height: 30px;
        border-radius: 6px;
        font-size: 1.1em;
    }
   

    .add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        .input-block {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 1em;
        }
        .item-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .item-stock-info {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .input-block {
                margin: 0 .5em 1em 0;
            }
    }
}
.hide {
    display: none;
}
}