.inventory-item  {
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: .5rem 0;
    .inventory-item-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        font-size: 1.2em;
    }


    .inventory-item-price::before {
        content: '$';
    }


    .inventory-item-buttons {
        button {
            margin: 10px 15px;
            height: 30px;
            border-radius: 6px;
            font-size: 1.1em;
            font-weight: bold;
        }
        .delete-inventory-item {
            background-color: red;
            color: white;
            
        }
    }
@media(min-width: 700px) {
    width: 80vw;
    .inventory-item-info {
 
        font-size: 1.2em;
    }
}
@media(min-width: 1200px) {
    width: 60vw;
}
@media(min-width: 1400px) {
    width: 50vw;
}

}