.category-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    margin-bottom: 100px;
    @media(max-width: 500px) {
        margin-bottom: 200px;
    }
    .category-path {
        display: flex;
        align-items: center;

        .path-spacer {
            margin: 5px 10px;
            color: black;
            font-size: 1.2em;
        }
        a {
            color: black;
            font-size: 1.2em;
        }
    }
    .category-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        .target_category_image {
            width: 200px;
            height: 200px;
            margin-top: 15px;
            @media(max-width: 500px) {
                width: 150px;
                height: 150px;
            }
        }
        .target_category_name {
            font-size: 1.7em;
            margin: 10px 0;
        }

    }//category-info

    .category-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        @media(max-width: 500px) {
            width: 90%;
        }
        .product {
            text-align: center;
            
            @media(max-width: 500px) {
                width: 46%;
                height: 14rem;

                .product-name {
                    margin: 0 auto;
                    font-size: 1.4em;
                }
            }
        }
    }
}