.category-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    @media(max-width: 500px) {
        padding-bottom: 150px;
    }
    .category-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        .target_category_image {
            width: 200px;
            height: 200px;
            margin-top: 15px;
            @media(max-width: 500px) {
                width: 150px;
                height: 150px;
            }
        }
        .target_category_name {
            font-size: 2em;
        }

    }//category-info

    .category-items {
        background-color: #F7F7F7;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        @media(max-width: 500px) {
            width: 90%;
        }
        .product {
            text-align: center;
            @media(max-width: 500px) {
                width: 45%;
            }
        }
    }
}