.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .apples {
      background: url('../../img/apples.jpg')center no-repeat;
      background-size: contain;
      height: 25em;
      width: 25em;
  }

  p {
      text-align: center;
  }

}