.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .showcase {
      background: url('../../img/banner.jpg')center no-repeat;
      background-size: cover;
      border-radius: 12px;
      height: 22.5em;
      margin: 45px 0 35px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      @media(min-width: 1400px) {
        width: 75%;
      }

      .showcase-text {
        background-color: rgba(25, 25, 25, 0.7);
        border-radius: 12px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          margin: 0;
          color: white;
          font-weight: bold;
          font-size: 1.5em;
          text-align: center;
          @media(max-width: 500px) {
            font-size: 1.2em;;
          }
        }
        .shop-now {
          margin: 1em 0;
          padding: 2%;
          
          border-radius: 6px;
          font-size: 1.8em;
          color: white;
          background-color: rgba(247, 7, 23, .9);
          text-shadow: 0px 2px 2px #000;
          cursor: pointer;
          position: relative;

          &:hover {
            top: 1.5px;
          }

          @media(max-width: 500px) {
            font-size: 1.2em;;
          }
          
        }
      }
  }

  .weekly-savings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px 0;
    background: rgb(238,49,36);
    background: radial-gradient(circle, rgba(238,49,36,1) 0%, rgba(204,3,3,1) 100%);
    .coupon-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      text-shadow: 0px 2px 2px #000;
      h4 {
        margin: 10px 0 ;
        font-size:1.4em;
      }
      h6 {
        margin: 5px 0;
        font-size: .9em;
      }
      button {
        position: relative;
        background-color: white;
        font-size: 1em;
        border-radius: 6px;
        border: none;
        padding: 2%;
        margin: 10px 0;
        &:hover {
          background-color:rgb(232, 232, 232);
          top: 1.5px;
        }
        
      }
    }
  }
}