.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    .nav-title {
        margin-left: 1em;
        font-size: 1.5em;
    }
    nav {
        a {
            margin: 0 1em;
            text-decoration: none;
        }
    }

}