.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    .item-path {
        display: flex;
        align-items: center;
        
        .path-spacer {
            margin: 5px 10px;
            color: black;
            font-size: 1.2em;
        }
        a {
            color: black;
            font-size: 1.2em;
        }
    }
    .product-details-inner-container {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        width: 60%;
        margin-top: 25px;
        padding: 2%;
        align-items: center;
        .product-details-info {
            
            .item-image {
                width: 250px;
                height: 250px;
            }
            .item-price {
                font-size: 1.3em;
            }
            .product-description {
                font-size: 1.3em;
                @media(max-width: 500px) {
                    margin-bottom: 25px;
                }
            }
            .product-detail-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    margin: 0 1rem 2rem 1rem;
                    border: none;
                    border-radius: 6px;
                    font-size: 1em;
                    height: 2.2rem;
                    font-weight: bold;
                    box-shadow: 1.5px 1.5px 1.5px #333;
                }
                .add-to-cart {
                    background-color: rgba(18, 183, 3, 0.7);
                    font-weight: bold;
                    color: white; 
                }
                .add-to-cart:active {
                    background-color: rgba(18, 183, 3, 1);
                    
                }
        
                .out-of-stock {
                    background-color: rgba(247, 7, 23, .9);;
                    color: white;
                }
            }
        }
        @media(max-width: 500px) {
            flex-direction: column;
            width: 90%;
        }
    }
    
    
    
}