.product {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .product-image {
        width: 50%
    }

    .product-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .product-name {

        }
        .product-price {
            margin-left: 1em;
        }
    }
}