.product-details-container {
    .item-path {
        display: flex;
        align-items: center;

        .path-spacer {
            margin: 5px 10px;
        }
    }
    .item-image {
        width: 250px;
        height: 250px;
    }
}