.product {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2% 0;
    width: 10rem;
    height: 12rem;
    margin: 1rem auto;
    font-family: 'Lato', sans-serif;

    .product-image {
        width: 50%
    }

    .product-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .product-name {

        }
        .product-price {
            margin-left: 1rem;
        }
        .product-price::before {
            content: '$'
        }
    }
    //product info

    .product-buttons {
        button {
            margin: 0 1rem;
            text-shadow: 1px 1px 0px #111;
            border: none;
            border-radius: 6px;
            font-size: 1.1em;
            height: 2rem;
        }
        .add-to-cart {
            background-color: rgba(18, 183, 3, 0.7);
            color: white; 
        }
        .add-to-cart:hover {
            background-color: rgba(18, 183, 3, 1);
            text-shadow: 2px 0px 0px rgba(18, 183, 3, 1);
        }
    }
}