.product {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .product-image {
        width: 50%
    }

    .product-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .product-name {

        }
        .product-price {
            margin-left: 1rem;
        }
    }
    //product info

    .product-buttons {
        button {
            margin: 0 1rem;
            text-shadow: 1px 1px 0px #111;
        }
        .more-info {
            background-color: dodgerblue;
            color: white;
        }
        .add-to-cart {
            background-color: limegreen;
            color: white;
            
        }
    }
}